* {
  font-family: "Jua", sans-serif;
  font-family: "Stylish", sans-serif;
}

body {
  text-align: center;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 300px;
}

h1 {
  font-family: "Jua";
  color: red;
}

p {
  font-family: "Jua", sans-serif;
  color: #534b4b;
}

a {
  color: rgb(230, 186, 27);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: red;
}

#todays-challenge {
  color: rgb(230, 186, 27);
  font-weight: bold;
  font-size: 52px;
}
