h1 {
  font-size: 48px;
  color: rgb(71, 62, 62);
  margin: 12px 0px;
}

#description {
  margin-bottom: 8px;
}
/* 
header p {
  margin-bottom: 36px;
} */

a {
  padding: 12px 48px;
  background-color: rgb(167, 1, 78);
  color: white;
  border: 1px solid rgb(167, 1, 78);
  border-radius: 4px;
  font-size: 24px;
  margin: 30px 12px;
  display: inline-block;
}

a:hover {
  background-color: rgb(136, 27, 76);
  text-decoration: none;
}

ol {
  list-style: none;
  width: 500px;
  margin: 36px auto 0 auto;
  padding: 0px;
}

li {
  padding: 16px;
  margin: 32px;
  background-color: rgb(223, 136, 124);
  border-radius: 6px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

h2 {
  color: rgb(78, 13, 5);
  font-family: "Oswald" sans-serif;
}

main p {
  margin: 12px;
  color: rgb(71, 29, 22);
}
