* {
  font-family: "Jua", sans-serif;
  font-family: "Stylish", sans-serif;
}

body {
  text-align: center;
  background-color: rgb(233, 215, 207);
  margin: 50px;
}

h1 {
  font-family: "Jua";
  color: rgb(110, 190, 224);
}

p {
  font-family: "Jua", sans-serif;
  color: #534b4b;
}

a {
  color: rgb(230, 186, 27);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: red;
}

.daily-goal {
  margin: 12px;
  color: rgb(71, 29, 22);
}
